header.header
    .header-contacts
        .header-contacts_phone
            img(class='phone-img' src='img/phone.png' alt='phone')
            span.phone-p +38 (067) 329 29 47
        .header-contacts_mail
            img(class='mail-img' src='img/mail.png' alt='mail')
            span.mail-p e-mailmail@i.ua
    .header-logo
.header-user